
@tailwind base;
@tailwind components;
@tailwind utilities;


/* resources/css/filament.css */
@media (min-width: 1024px) {
    .filepond--root[data-style-panel-layout="grid"] .filepond--item {
        width: calc(
            100% / 4 - 0.5rem
        );
    }
}
.category_tree .choices__item.choices__item--choice {
    padding: 0 !important;
    font-family: monospace, sans-serif;
}

.category_tree .choices__list--dropdown .choices__list, .choices__list[aria-expanded] .choices__list {
    max-height: 35rem;
}

@layer base {
    :root.dark {
        color-scheme: dark;
    }

    [data-field-wrapper] {
        scroll-margin-top: 8rem;
    }
}







@config 'tailwind.config.js';
